// Mobile
@media screen and (max-width: 700px) {
    header{
        padding: 0 !important;
    }
    .header-content .left-header .home-pic {
        margin-left: 0; 
        img:nth-child(3) {
            margin-left: 0;
        }
    }
    .theme-btn{
        width: 50px;
        height: 50px;
    }
    .header-content{
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
    }
    .right-header{
        grid-row: 1;
        padding-right: 0rem !important;
        width: 90%;
        margin: 0 auto;
        .name{
            font-size: 2.5rem !important;
            text-align: center;
            padding-top: 3rem;
        }
    }
    .gallery{
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
        margin-top: 1rem;
    }

    #list-presta{
        width: 100%;
        margin-bottom: 5rem;
        .text-presta{
            gap: 0.2rem;
        }
    }

    .contact-content-con{
        flex-direction: column;
        .right-contact{
            margin-left: 0;
            margin-top: 2.5rem;
        }
        
    }

    .contact-content-con .right-contact{
        margin-bottom: 6rem;
    }

    .contact-content-con .right-contact {
        display: flex;  
        justify-content: center;      
        iframe {
            width: 350px;
            height: 300px;              
            border: none;    
        }
    } 

    .contact-info{
        flex-direction: column;
        margin: 1rem 0;
        p{
            font-size: 1.3rem;
            color: var(--text-primary-color);
            text-align: center;
        }
        span{
            font-size: 15px;
        }
        .icon{
            grid-template-columns: 25px 1fr;
        }
    }

    .contact-content-con .left-contact .contact-card .contact-info .contact-text {
        margin: 1rem 0 0.3rem 2rem;
        padding: 0 !important;
    }

    .contact-content-con .left-contact {
        text-align: center;
        .contact-icon {
            justify-content: center;
        }
    } 
}

// Tablette
@media screen and (max-width:970px){
    .navbar{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-primary);
        .nav{
            margin: 1rem .3rem;
        }
    }

    .container{
        padding: 2rem 2.5rem !important;
    }

    .header-content{
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
    }

    .left-header .home-pic {
        margin-left: 0;
        text-align: center;
    }

    .right-header{
        grid-row: 1;
        padding-right: 0rem !important;
        width: 90%;
        margin: 0 auto;
        .name{
            font-size: 2.5rem !important;
            text-align: center;
            padding-top: 3rem;
        }
    }

    footer {
        margin: -8rem auto 1rem
    }
}

// Destop
@media screen and (max-width:1250px){
    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:1432px){
    .header-content .left-header .home-pic img:nth-child(3) {
        margin-left: 0;
    } 

    .container{
        padding: 7rem 11rem;
    }

    .contact-content-con{
        flex-direction: column;
        .right-contact{
            margin-left: 0;
            margin-top: 2.5rem;
        }
        
    }

    .contact-content-con .right-contact{
        margin-bottom: 6rem;
        text-align: center;
    }    
}





