* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #f1b8dc;
  --color-secondary: #cf2b9c;
  --pink-2: #efd9e6;
  --pink-3: #fcc5e2;
  --color-white: #f3f0f0;
  --color-black: #171D1C;
  --bg-footer: #f3f0f0;
  --text-primary-color: #111010;
}

.dark-mode {
  --color-primary: #171D1C;
  --color-secondary: #F56692;
  --color-white: #f3f0f0;
  --color-black: #171D1C;
  --color-grey: #454e56;
  --bg-footer: #171D1C;
  --text-primary-color: #f3f0f0;
  background: url("../img/bgDark.jpg") no-repeat fixed center/cover;
}

body {
  background: url("../img/bgChaNail.jpg") no-repeat fixed center/cover;
  font-family: "Dancing Script", cursive;
  color: var(--text-primary-color);
  transition: all 0.4s ease-in-out;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  text-align: center;
  position: relative;
  color: var(--text-primary-color);
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
}
h2 span {
  color: var(--color-secondary);
}

p {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  line-height: 2rem;
}

header {
  min-height: 100vh;
  color: var(--text-primary-color);
  overflow: hidden;
  padding: 0 !important;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 2rem 18rem 3rem;
}

.container {
  display: none;
}

.active {
  display: block;
  -webkit-animation: appear 1s ease-in-out;
          animation: appear 1s ease-in-out;
  transform: translateY(0) scaleY(1);
}
@-webkit-keyframes appear {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}
@keyframes appear {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

.navbar {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  gap: 0.5rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
.navbar .nav {
  cursor: pointer;
  background-image: linear-gradient(319deg, rgba(97, 97, 97, 0.07) 0%, rgba(97, 97, 97, 0.07) 50%, rgba(200, 200, 200, 0.07) 50%, rgba(200, 200, 200, 0.07) 100%), linear-gradient(235deg, rgba(194, 194, 194, 0.02) 0%, rgba(194, 194, 194, 0.02) 50%, rgba(22, 22, 22, 0.02) 50%, rgba(22, 22, 22, 0.02) 100%), linear-gradient(266deg, rgba(38, 38, 38, 0.07) 0%, rgba(38, 38, 38, 0.07) 50%, rgba(175, 175, 175, 0.07) 50%, rgba(175, 175, 175, 0.07) 100%), linear-gradient(178deg, rgba(218, 218, 218, 0) 0%, rgba(218, 218, 218, 0) 50%, rgba(6, 6, 6, 0) 50%, rgba(6, 6, 6, 0) 100%), linear-gradient(72deg, rgba(138, 138, 138, 0) 0%, rgba(138, 138, 138, 0) 50%, rgba(50, 50, 50, 0) 50%, rgba(50, 50, 50, 0) 100%), linear-gradient(256deg, rgba(115, 115, 115, 0.04) 0%, rgba(115, 115, 115, 0.04) 50%, rgba(150, 150, 150, 0.04) 50%, rgba(150, 150, 150, 0.04) 100%), linear-gradient(209deg, rgba(23, 23, 23, 0.07) 0%, rgba(23, 23, 23, 0.07) 50%, rgba(170, 170, 170, 0.07) 50%, rgba(170, 170, 170, 0.07) 100%), linear-gradient(315deg, rgba(178, 178, 178, 0.02) 0%, rgba(178, 178, 178, 0.02) 50%, rgba(143, 143, 143, 0.02) 50%, rgba(143, 143, 143, 0.02) 100%), linear-gradient(20deg, rgba(74, 74, 74, 0.07) 0%, rgba(74, 74, 74, 0.07) 50%, rgba(96, 96, 96, 0.07) 50%, rgba(96, 96, 96, 0.07) 100%), linear-gradient(90deg, #ce80d1, #e34cda, #436592);
  width: 70px;
  height: 70px;
  clip-path: polygon(20% 19%, 80% 19%, 100% 36%, 50% 100%, 0 36%);
  -webkit-clip-path: polygon(20% 19%, 80% 19%, 100% 36%, 50% 100%, 0 36%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem 0;
}
.navbar .nav i {
  font-size: 1.2rem;
  color: var(--pink-3);
  pointer-events: none;
}
.navbar .active-btn {
  background-color: var(--color-secondary);
}
.navbar .active-btn i {
  color: var(--color-white);
}

.theme-btn {
  top: 2%;
  right: 3%;
  width: 70px;
  height: 70px;
  clip-path: polygon(20% 19%, 80% 19%, 100% 36%, 50% 100%, 0 36%);
  -webkit-clip-path: polygon(20% 19%, 80% 19%, 100% 36%, 50% 100%, 0 36%);
  background-image: linear-gradient(319deg, rgba(97, 97, 97, 0.07) 0%, rgba(97, 97, 97, 0.07) 50%, rgba(200, 200, 200, 0.07) 50%, rgba(200, 200, 200, 0.07) 100%), linear-gradient(235deg, rgba(194, 194, 194, 0.02) 0%, rgba(194, 194, 194, 0.02) 50%, rgba(22, 22, 22, 0.02) 50%, rgba(22, 22, 22, 0.02) 100%), linear-gradient(266deg, rgba(38, 38, 38, 0.07) 0%, rgba(38, 38, 38, 0.07) 50%, rgba(175, 175, 175, 0.07) 50%, rgba(175, 175, 175, 0.07) 100%), linear-gradient(178deg, rgba(218, 218, 218, 0) 0%, rgba(218, 218, 218, 0) 50%, rgba(6, 6, 6, 0) 50%, rgba(6, 6, 6, 0) 100%), linear-gradient(72deg, rgba(138, 138, 138, 0) 0%, rgba(138, 138, 138, 0) 50%, rgba(50, 50, 50, 0) 50%, rgba(50, 50, 50, 0) 100%), linear-gradient(256deg, rgba(115, 115, 115, 0.04) 0%, rgba(115, 115, 115, 0.04) 50%, rgba(150, 150, 150, 0.04) 50%, rgba(150, 150, 150, 0.04) 100%), linear-gradient(209deg, rgba(23, 23, 23, 0.07) 0%, rgba(23, 23, 23, 0.07) 50%, rgba(170, 170, 170, 0.07) 50%, rgba(170, 170, 170, 0.07) 100%), linear-gradient(315deg, rgba(178, 178, 178, 0.02) 0%, rgba(178, 178, 178, 0.02) 50%, rgba(143, 143, 143, 0.02) 50%, rgba(143, 143, 143, 0.02) 100%), linear-gradient(20deg, rgba(74, 74, 74, 0.07) 0%, rgba(74, 74, 74, 0.07) 50%, rgba(96, 96, 96, 0.07) 50%, rgba(96, 96, 96, 0.07) 100%), linear-gradient(90deg, #ce80d1, #e34cda, #436592);
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-btn:active {
  transform: translateY(-3px);
}
.theme-btn i {
  font-size: 1.4rem;
  color: var(--pink-3);
  pointer-events: none;
}

/*Header-content*/
.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
}
.header-content .left-header {
  display: flex;
  align-items: center;
  position: relative;
}
.header-content .left-header .home-pic {
  margin-left: 4rem;
}
.header-content .left-header .home-pic img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  padding: 1rem;
}
.header-content .left-header .home-pic img:nth-child(3) {
  margin-left: 10rem;
}
.header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  padding-right: 18rem;
}
.header-content .right-header .name span {
  color: var(--color-secondary);
  font-family: "Parisienne", cursive;
  font-size: 3.5rem;
  font-weight: 200;
}

.btn-contact {
  display: flex;
  align-self: flex-start;
}

.cta {
  border-radius: 30px;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-secondary);
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
  font-size: 1.6rem;
  padding: 0.5rem;
}
.cta span {
  padding: 0 2rem;
}
.cta::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  z-index: -1;
}
.cta:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  transform: translateX(0);
  transition: all 0.4s ease-out;
}

.gallery-text {
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.8rem;
  margin-top: 3rem;
}
.gallery .picture {
  position: relative;
  border-radius: 15px;
}
.gallery .picture img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

#modal-bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(239, 217, 230, 0.8);
  z-index: 3;
  justify-content: center;
  align-items: center;
}

#modal-bg.active {
  display: flex;
}

#modal-content {
  max-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#modal-img {
  width: 80%;
  height: auto;
}

#modal-close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--pink-2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
#modal-close :hover {
  background-color: var(--color-secondary);
}

.btn-flyer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.btn-flyer :hover {
  background-color: var(--color-secondary);
}
.btn-flyer .del {
  width: 15rem;
  border-radius: 15px;
  display: flex;
  border: 1px solid var(--color-secondary);
  font-weight: 600;
  justify-content: center;
  padding: 0.5rem;
}
.btn-flyer .del i {
  padding: 0.5rem;
}
.btn-flyer .del span {
  font-size: 1.5rem;
}
.btn-flyer .del :hover {
  color: var(--color-white);
}

#list-presta {
  margin: 2rem auto 4rem;
  width: 50%;
  background-color: rgba(239, 231, 236, 0.7);
  padding: 20px 40px 40px 40px;
  color: var(--text-primary-color);
}

.title-presta {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 1px;
  margin-bottom: 1rem;
}

.text-presta {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-family: "Parisienne", cursive;
}

.price {
  font-size: 1.3rem;
  padding-left: 1rem;
  font-weight: 500;
  font-family: "Dancing Script", cursive;
}

.contact-content-con {
  display: flex;
  padding-top: 3.5rem;
}
.contact-content-con .left-contact {
  flex: 2;
}
.contact-content-con .left-contact h3 {
  font-size: 3rem;
}
.contact-content-con .left-contact h4 {
  width: 8rem;
  font-size: 1.5rem;
  text-shadow: 3px 5px 5px var(--color-secondary);
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 1px;
}
.contact-content-con .left-contact #accroche {
  margin: 1rem 0;
  line-height: 2rem;
}
.contact-content-con .left-contact .contact-card .contact-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-content-con .left-contact .contact-card .contact-info .contact-text {
  margin: 0.3rem 0;
  padding: 0 !important;
  width: 12rem;
  font-size: 1.3rem;
}
.contact-content-con .left-contact .contact-card .contact-info .icon {
  display: grid;
  grid-template-columns: 40px 1fr;
}
.contact-content-con .left-contact .contact-card .contact-info .icon i {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
.contact-content-con .left-contact .contact-icon {
  display: flex;
  margin-top: 2rem;
}
.contact-content-con .left-contact .contact-icon a {
  display: flex;
  align-items: center;
  background-color: var(--pink-3);
  cursor: pointer;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.contact-content-con .left-contact .contact-icon a:hover {
  background-color: var(--color-secondary);
}
.contact-content-con .left-contact .contact-icon a:hover i {
  color: var(--color-primary);
}
.contact-content-con .left-contact .contact-icon a i {
  font-size: 1.3rem;
  color: var(--color-secondary);
}
.contact-content-con .right-contact {
  flex: 3;
  margin-left: 3rem;
}
.contact-content-con .right-contact iframe {
  width: 600px;
  height: 350px;
  border: none;
}

footer {
  margin: 2rem;
  position: fixed;
  bottom: 0;
  padding: 0.5rem;
  opacity: 0.8;
  border-radius: 15px;
  background-color: var(--bg-footer);
}
footer #footer-text {
  line-height: normal;
  margin: 0;
  font-size: 1rem;
}
footer a {
  color: var(--text-primary-color);
  padding-left: 1rem;
}

@media screen and (max-width: 700px) {
  header {
    padding: 0 !important;
  }
  .header-content .left-header .home-pic {
    margin-left: 0;
  }
  .header-content .left-header .home-pic img:nth-child(3) {
    margin-left: 0;
  }
  .theme-btn {
    width: 50px;
    height: 50px;
  }
  .header-content {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }
  .right-header {
    grid-row: 1;
    padding-right: 0rem !important;
    width: 90%;
    margin: 0 auto;
  }
  .right-header .name {
    font-size: 2.5rem !important;
    text-align: center;
    padding-top: 3rem;
  }
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
  }
  #list-presta {
    width: 100%;
    margin-bottom: 5rem;
  }
  #list-presta .text-presta {
    gap: 0.2rem;
  }
  .contact-content-con {
    flex-direction: column;
  }
  .contact-content-con .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
  }
  .contact-content-con .right-contact {
    margin-bottom: 6rem;
  }
  .contact-content-con .right-contact {
    display: flex;
    justify-content: center;
  }
  .contact-content-con .right-contact iframe {
    width: 350px;
    height: 300px;
    border: none;
  }
  .contact-info {
    flex-direction: column;
    margin: 1rem 0;
  }
  .contact-info p {
    font-size: 1.3rem;
    color: var(--text-primary-color);
    text-align: center;
  }
  .contact-info span {
    font-size: 15px;
  }
  .contact-info .icon {
    grid-template-columns: 25px 1fr;
  }
  .contact-content-con .left-contact .contact-card .contact-info .contact-text {
    margin: 1rem 0 0.3rem 2rem;
    padding: 0 !important;
  }
  .contact-content-con .left-contact {
    text-align: center;
  }
  .contact-content-con .left-contact .contact-icon {
    justify-content: center;
  }
}
@media screen and (max-width: 970px) {
  .navbar {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-primary);
  }
  .navbar .nav {
    margin: 1rem 0.3rem;
  }
  .container {
    padding: 2rem 2.5rem !important;
  }
  .header-content {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }
  .left-header .home-pic {
    margin-left: 0;
    text-align: center;
  }
  .right-header {
    grid-row: 1;
    padding-right: 0rem !important;
    width: 90%;
    margin: 0 auto;
  }
  .right-header .name {
    font-size: 2.5rem !important;
    text-align: center;
    padding-top: 3rem;
  }
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
  }
  #list-presta {
    width: 100%;
    margin-bottom: 5rem;
  }
  footer {
    margin: -8rem auto 1rem;
  }
}
@media screen and (max-width: 1250px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1432px) {
  .header-content .left-header .home-pic img:nth-child(3) {
    margin-left: 0;
  }
  .container {
    padding: 7rem 11rem;
  }
  .contact-content-con {
    flex-direction: column;
  }
  .contact-content-con .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
  }
  .contact-content-con .right-contact {
    margin-bottom: 6rem;
    text-align: center;
  }
}/*# sourceMappingURL=styles.css.map */